#background {
    height: 725px;
}
body {
    background-color: #ffffff; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}  
